MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app-name>
MONGODB_DB=wad_01
MONGODB_USER_COLLECTION=users
MONGODB_BOOK_COLLECTION=books
MONGODB_BORROW_COLLECTION=borrow_requests
ADMIN_SETUP_PASS=change-this-admin-setup-pass
JWT_SECRET=change-this-jwt-secret
CORS_ORIGIN=https://your-frontend-domain.com
